{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
  },
  "globals": {
    "cordova": true,
    "__APIURL__": true,
    "__DEVELOPMENT__": true,
    "__DEVTOOLS__": true
  },
  "rules": {
    "no-console": 0,
    "id-length": 0
  },
  "plugins": [
    "react"
  ]
}
